{% block title %}
  Domain index 
{% endblock %}
{% extends "base.html.twig" %}
{% block navbar %}
  <a href="/logout">log out</a>
  <a href="/monitoring">home</a>
  <a href="/monitoring/domain">domains</a>
  <a href="/monitoring/domain/{{ domain.uid }}/view">{{ domain.name }}</a>
{% endblock %}
{% block body %}
  <h1>Edit {{ domain.name }}</h1>
  {{ form(form) }}
{% endblock %}
